/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');*/
:root {
  --header-height: 3rem;
  /* =========COLOR============ */
  --azul-uno: #001B48;
  --azul-dos: #002447;
  --azul-tres: #155DB1;
  --azul-cuatro: #2196F3;
  --azul-cinco: #81C9FA;
  --rojo-uno: #CC0001;
  --rojo-dos: #E60000;
  --rojo-tres: #FF1A1A;
  --rojo-cuatro: #FF3334;
  --rojo-cinco: #FF4D4D;
  --grey-one: rgb(29, 29, 29);
  --grey-two: #222;
  --grey-three: #808080;
  --grey-four: #B3B3B3;
  --grey-five: #E6E6E6;
  --grey-six: #f3f3f3be;
  --grey-seven: #fcfcfc;
  --white: white;
  --wrapper-background: #fff111;
  --black: #111111;
  --botton-color: #333222;
  --target-color: #ebf6ff;
  /*========== Fuente y tipografia ==========*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 50px;
  --h2-font-size: 42px;
  --h3-font-size: 30px;
  --h4-font-size: 20px;
  --normal-font-size: 17px;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  height: 100%;
}

header {
  height: 70px;
}

.nav-barr {
  padding: 10px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  background-color: var(--azul-uno);
  justify-items: center;
  align-items: center;
  position: fixed;
  margin: 0;
}

.header-section-logo img {
  width: 40%;
}

.tittle-valid {
  color: var(--white);
}

main {
  background-color: var(--grey-six);
}

.section-one {
  width: 80%;
  height: 505px;
  background-color: var(--grey-seven);
  border: 1px solid var(--grey-three);
  margin: 20px auto;
  padding: 20px;
}

.tittle-table h2 {
  text-align: center;
  padding-bottom: 10px;
}

.container-valid-info table {
  width: 100%;
}

.container-valid-info table tr {
  display: grid;
  width: 100%;
  height: 40px;
  grid-template-columns: 1fr 3fr;
  margin: 2px;
  background-color: var(--grey-six);
  align-items: center;
  justify-items: center;
}
.container-valid-info table tr td {
  width: 50%;
}
.container-valid-info table tr .estatus {
  width: 20%;
  border-radius: 5px;
  background-color: #ee0000;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .section-one {
    height: 900px;
  }

  .container-valid-info table {
    width: 100%;
  }

  .container-valid-info table tr {
    width: 100%;
    height: 40px;
    margin: 2px;
    background-color: var(--grey-six);
    align-items: center;
    justify-items: center;
  }
}
/* footer-contact */
.footer-contact {
  background: var(--grey-two);
}

.container-footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.container-footer .google-map {
  height: 300px;
  float: right;
  margin: auto 0;
  width: 50%;
}
.container-footer .google-map iframe {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 2px;
}

.contact-form {
  width: 50%;
  height: 340px;
}

.contact-form h3 {
  text-align: center;
}

.direction {
  text-align: center;
  color: var(--white);
  padding: 10px;
  margin: 10px;
}

.direction-text {
  margin-top: 50px;
}

@media only screen and (max-width: 992px) {
  .container-footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }
  .container-footer .google-map {
    width: 90%;
    margin: 0 auto;
  }

  .contact-form {
    width: 100%;
    height: auto;
  }
}
/* footer */
.footer-container {
  padding: 20px;
  background: var(--grey-one);
  color: var(--grey-five);
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
