header {
  height: 40px;
}
.nav-barr {
  padding: 10px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--azul-uno);
  justify-items: center;
  align-items: center;
  position: fixed;
  
}
.header-section-logo {
  grid-column: 1;
  img {
    width: 40%;
  }
}
.tittle-valid {
  grid-column: 2;
  color: var(--white);
}

.user-menu {
  grid-column: 3;
  color: white;
  font-size: 10px;
  .user-header {    
    list-style: none;
  }
  .user-footer {
    list-style: none;
    a {
      color: white;
      text-decoration: none;
    }
  }
}