.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
  bottom: 0;
  font-size: 18px;

  .login_content {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dadce0;
    width: 450px;
    height: 500px;
    border-radius: 8px;
  }

  .login_form {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    width: 80%;
    height: 80%;
    .login-tittle {
      img {
        width: 80px;
      }
      width: 100%;
      text-align: center;
      grid-row: 1;
      margin: auto 0;
    }
    .section-two-form {
      grid-row: 2;

      .login-form-container {
        width: 90%;
        margin: 0 auto;
        .group-form {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          margin: 15px 0;
          input {
            padding: 14px;
            outline: none; 
            border: 1px solid #dadce0;      
            border-radius: 4px;    
          }
        }

        .login-footer-button {
          grid-row: 3;
          .login-footer-button-container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin: 0 auto;
            width: 50%;
            .button-login {
              padding: 8px;
              border: none;
              border-radius: 5px;
              color: white;
              background-color: #1a73e8;
              
              
            }
          }
        }
      }

    }
  }
}
