main {
    background-color: var(--grey-six);
}

.section-one {
    width: 80%;
    height: 505px;    
    background-color: var(--grey-seven);    
    border: 1px solid var(--grey-three);                            
    margin: 20px auto;
    padding: 20px;
}
.tittle-table h2 {
    text-align: center;
    padding-bottom: 10px;
}
.container-valid-info table {    
    width: 100%;
}
.container-valid-info table tr {                                    
                display: grid;   
                width: 100%;
                height: 40px;                
                grid-template-columns: 1fr 3fr; 
                margin: 2px;
                background-color: var(--grey-six);                 
                align-items: center;
                justify-items: center;
    td {
        width: 50%;          
    }   
    .estatus {
        width: 20%;
        border-radius: 5px;
        background-color: rgb(238, 0, 0);
        color: white;
        text-align: center;
    }                   
}

@media only screen and (max-width: 992px) {
    .container-valid-info table {
     width: 100%;
    }
    .container-valid-info table tr {
      
      width: 100%;
      height: 40px;
      
      margin: 2px;
      background-color: var(--grey-six);
      align-items: center;
      justify-items: center;
  
      
    }
  }
  