main {
    background-color: var(--grey-six);
}

.section-one {
    width: 80%;
    height: 505px;    
    background-color: var(--grey-seven);    
    border: 1px solid var(--grey-three);                            
    margin: 20px auto;
    padding: 20px;
}