/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');*/
:root {
  --header-height: 3rem;
  /* =========COLOR============ */
  --azul-uno: #001B48;
  --azul-dos: #002447;
  --azul-tres: #155DB1;
  --azul-cuatro: #2196F3;
  --azul-cinco: #81C9FA;
  --rojo-uno: #CC0001;
  --rojo-dos: #E60000;
  --rojo-tres: #FF1A1A;
  --rojo-cuatro: #FF3334;
  --rojo-cinco: #FF4D4D;
  --grey-one: rgb(29, 29, 29);
  --grey-two: #222;
  --grey-three: #808080;
  --grey-four: #B3B3B3;
  --grey-five: #E6E6E6;
  --grey-six: #f3f3f3be;
  --grey-seven: #fcfcfc;
  --white: white;
  --wrapper-background: #fff111;
  --black: #111111;
  --botton-color: #333222;
  --target-color: #ebf6ff;
  /*========== Fuente y tipografia ==========*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 50px;
  --h2-font-size: 42px;
  --h3-font-size: 30px;
  --h4-font-size: 20px;
  --normal-font-size: 17px;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
}

* {
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: var(--body-font);
  margin: 0;
  margin-bottom: 40px;
}

header {
  height: 60px;
}

.nav-barr {
  padding: 10px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  background-color: var(--azul-uno);
  justify-items: center;
  align-items: center;
  position: fixed;
  margin: 0;
}

.header-section-logo img {
  width: 40%;
}

.tittle-valid {
  color: var(--white);
}

main {
  background-color: var(--grey-six);
}

.section-two {
  width: 80%;
  background-color: var(--grey-seven);
  border: 1px solid var(--grey-three);
  margin: 0px auto;
  height: 1200px;
}
.section-two .formulario-ingreso {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.section-two .formulario-ingreso form {
  background-color: var(--grey-six);
  border: 1px solid #c9c9c9;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
}
.section-two .formulario-ingreso form .form-group {
  margin-top: 15px;
  text-decoration: none;
  list-style: none;
}
.section-two .formulario-ingreso form .form-group input {
  align-self: flex-end;
  outline: none;
  width: 240px;
  padding: 5px;
}
.section-two .formulario-ingreso button {
  width: 90px;
  color: white;
  background-color: var(--azul-dos);
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
}

.login-main {
  max-width: 100%;
  height: 780px;
}
.login-main .login-content {
  display: grid;
  align-items: center;
  justify-content: center;
}
.login-main .login-form {
  height: 200px;
  border-radius: 10px;
  background-color: var(--grey-five);
}
.login-main .login-form .section-one {
  width: 100%;
  height: 40px;
  color: white;
  background-color: var(--azul-tres);
  text-align: center;
  border-radius: 10px 10px 0 0;
}
.login-main .login-form .section-two-form {
  padding: 10px 30px;
}
.login-main .login-form .section-two-form .group-form {
  margin: 15px;
}
.login-main .login-form .section-two-form .group-form input {
  padding: 5px;
  outline: none;
}
.login-main .login-form .section-two-form .login-footer-button .button-login {
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--rojo-tres);
}

.footer {
  bottom: 0;
  width: 100%;
  position: absolute;
}

/* footer-contact */
.footer-contact {
  background: var(--grey-two);
}

.container-footer {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.container-footer .google-map {
  height: 300px;
  float: right;
  margin: auto 0;
  width: 50%;
}
.container-footer .google-map iframe {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 2px;
}

.contact-form {
  width: 50%;
  height: 340px;
}

.contact-form h3 {
  text-align: center;
}

.direction {
  text-align: center;
  color: var(--white);
  padding: 10px;
  margin: 10px;
}

.direction-text {
  margin-top: 50px;
}

@media only screen and (max-width: 992px) {
  .container-footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }
  .container-footer .google-map {
    width: 90%;
    margin: 0 auto;
  }

  .contact-form {
    width: 100%;
    height: auto;
  }
}
/* footer */
.footer-container {
  padding: 20px;
  background: var(--grey-one);
  color: var(--grey-five);
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
